body{
    background-color: rgba(35, 60, 0, 0.897);;
     color: white;
     margin:0;
 }
 h1{
     text-transform: uppercase;
 }
 h1,h2{
     color:rgba(255, 255, 255, 0.615);
     text-align: center;
    
 }
 p{
     text-align: justify;
     
 }
 header{
     background-color: rgb(255, 255, 255);
 }
 main{
     margin:auto 20%;
     background-color:rgb(4, 66, 14);
 }
 .destaque{
     background-color: rgb(95, 160, 127);
     color:azure;
     padding: 20px;
     margin-bottom: 50px;
 }
 #img-logo{
     width: 50px;
   
 }
 nav li{
     display: inline;
     margin-left: 20px;
     color: rgba(35, 60, 0, 0.897);
     border: 2px solid rgba(117, 134, 6, 0.897);
 }
